.main {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.game {
  margin: 5px;
  padding: 5px;
  border: solid 2px slateblue;
  text-align: center;
}

a {
  text-decoration: none;
}

header a {
  margin: 2px;
}

.current-page {
  display: none;
}